---
import '../../public/styles/reset.css';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400..900&display=swap'
			rel='stylesheet'
		/>
	</head>
	<body>
		<slot />
		<style>
			:root {
				--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
				--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
				--font-size-xl: clamp(5.44rem, 2.38vw + 1.85rem, 8.75rem);

				--color-text: hsl(12, 5%, 4%);
				--color-bg: hsl(10, 21%, 95%);
				--color-border: hsl(17, 24%, 90%);
				--color-yellow: rgb(255, 213, 61);
				--color-blue: rgb(38, 92, 133);

				--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
			}

			html {
				font-family: 'Source Sans 3', sans-serif;
				font-size: var(--font-size-base);
				color: var(--color-text);
			}

			body {
				margin: 0;
			}
		</style>

		<style lang='scss' is:global>
			@font-face {
				font-family: Source Sans;
				font-weight: 400 900;
				src: url('/fonts/sourcesans3-variablefont_wght-webfont.woff2')
						format('woff2'),
					url('/fonts/sourcesans3-variablefont_wght-webfont.woff')
						format('woff');
			}
			h1 {
				--h1-shadow-size: 0.04em;
				-webkit-text-fill-color: transparent;
				background-color: hotpink;
				-webkit-background-clip: text;
				font-size: var(--font-size-xl);
				font-weight: 900;
				line-height: 1.1;
				text-shadow: calc(var(--h1-shadow-size) * -1)
					calc(var(--h1-shadow-size) * -1) 0 var(--color-text);
			}

			h2,
			h3 {
				font-size: var(--font-size-lg);
				margin-bottom: 0;
			}

			footer {
				border-top: 1px solid var(--color-yellow);
				padding: 2rem;
				position: relative;
				text-align: center;

				img {
					display: none;
				}
			}

			footer p {
				margin: 0;
			}

			.flow-vertical {
				> * + * {
					margin-top: 2rem;
				}
			}

			@media (min-width: 1280px) {
				footer img {
					bottom: 8rem;
					display: block;
					max-width: 350px;
					position: absolute;
					right: 2rem;
				}
			}
		</style>
	</body>
</html>
